<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel='stylesheet' href='/css/main.css' />
    <title>School.id</title>
</head>
<body>

    <nav>
        <a href="/">home</a>
        <a href="/students">students</a>
        <a href="/teachers">teachers</a>
        <a href="/subjects">subjects</a>
    </nav>


    <h1>Welcome to School.id</h1>
    <P>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Voluptatum eligendi nesciunt repellat porro magnam ea rerum voluptate beatae animi, 
        sequi magni sapiente, ad perspiciatis consectetur quae assumenda dolores ullam. 
        Consequuntur!
    </P>
</body>
</html>