<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel='stylesheet' href='/css/main.css' />
    <title>Subject List</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/students">students</a>
        <a href="/teachers">teachers</a>
        <a href="/subjects">subjects</a>
    </nav>
    <div class="header">
        <h1>Subject List</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject Name</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < data.length; i++){ %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].subjectname %></td>
                </tr>
            <%} %>
        </tbody>  
    </table>
    
</body>
</html>